<template>
  <c-box
    :maxWidth="['1100px']"
    py="3"
    mx="auto"
    minHeight="87vh"
    d="flex"
    flexDirection="column"
    width="100%"
    textAlign="left"
  >
    <c-box py="2" :px="['2', '2', '0']" height="100%">
      <c-box mb="3" d="flex">
        <c-breadcrumb :add-separator="false" separator="›">
          <c-breadcrumb-item>
            <c-breadcrumb-link to="/" color="green" fontSize="sm"
              >Beranda</c-breadcrumb-link
            >
            <c-breadcrumb-separator color="green" font-size="20px" />
          </c-breadcrumb-item>

          <c-breadcrumb-item>
            <c-breadcrumb-link to="/" fontSize="sm"
              >Diet and Coaching Challenge</c-breadcrumb-link
            >
          </c-breadcrumb-item>
        </c-breadcrumb>
      </c-box>
      <hr />
      <c-box d="flex" :flex-direction="['column', 'column', 'column', 'row']" mt="3" height="100%">
        <c-box minWidth="240px" :borderRight="['0px', '1px']" :borderBottom="['1px', '0px']" borderColor="gray.200" :pr="['0', '4']" :pb="['4', '0']" style="border-color: #E2E8F0;">
          <c-stack :spacing="3">
            <c-button variant-color="gray" variant="ghost" justifyContent="left" alignItems="center" size="md">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 6px;">
              <path d="M18 5H6C4.89543 5 4 5.89543 4 7V19C4 20.1046 4.89543 21 6 21H18C19.1046 21 20 20.1046 20 19V7C20 5.89543 19.1046 5 18 5Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M16 3V7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M8 3V7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M4 11H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M8 15H10V17H8V15Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              Daily Coaching
            </c-button>
            <c-button variant-color="gray" variant="ghost" justifyContent="left" alignItems="center" size="md">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 6px;">
              <path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              Coaching Course
            </c-button>
            <c-button variant-color="vue" variant="ghost" justifyContent="left" alignItems="center" size="md">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 6px;">
              <path d="M5 14H19L14.5 9.5L19 5H5V21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              Diet Challenge
            </c-button>
          </c-stack>
        </c-box>
        <c-box flexGrow="1" :px="['2', '8']" :py="['4', '2']">
          <c-flex direction="row" justify="space-between">
            <c-text fontWeight="bold" fontSize="xl" mb="3">
              Diet Challenge
            </c-text>
            <c-button size="sm" left-icon="add" as="router-link" to="/post/add">
              Tambah
            </c-button>
          </c-flex>
          <c-box
            v-if="loading"
            d="flex"
            flexDirection="column"
            alignItems="center"
            my="10"
          >
            <c-spinner
              thickness="4px"
              speed="0.65s"
              empty-color="green.200"
              color="vue.500"
              size="xl"
            />
            <c-text color="vue.500" fontWeight="500" fontSize="sm" mt="2">
              Memuat data...
            </c-text>
          </c-box>
          <div
            v-else
          >
            <c-box
              v-if="posts.length == 0"
            >
              <c-text>
                Data kosong.
              </c-text>
            </c-box>
            <c-stack v-else spacing="5">
              <c-box v-for="(post, index) in posts" :key="index" :p="4" shadow="md" border-width="1px" borderRadius="8px" d="flex" :flexDirection="['column', 'column', 'row']" as="router-link" :to="`/post/${post.id}`">
                <img :src="post?.image ? ( isHasHttps(post.image) ? post.image : `http://localhost:3000/${post.image}`) : 'https://via.placeholder.com/150'" class="card-image" alt="">
                <c-box
                  d="flex"
                  flexDirection="column"
                  :ml="[0, 3]"
                  :mt="[2, 0]"
                  flexGrow="1"
                >
                  <c-box
                    d="flex"
                    flexDirection="column"
                    widht="100%"
                  >
                    <c-box d="flex" flexDirection="row" justifyContent="space-between" alignItems="center" mb="1">
                      <c-box fontSize="xs" fontWeight="600" color="gray.500" m="0">
                        Hari Ke-{{ index + 1 }}
                      </c-box>
                      <c-tag v-if="post.status" variant-color="vue" size="sm" rounded="full" variant="solid" height="fit-content">
                        <c-tag-icon icon="check" size="12px" />
                        <c-tag-label>Done</c-tag-label>
                      </c-tag>
                      <c-tag v-else variant-color="yellow" size="sm" rounded="full" height="fit-content">
                        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M5.6981 11.7437C5.93253 11.9107 6.21324 12.0003 6.50106 12C6.78887 11.9997 7.06941 11.9096 7.30353 11.7422C7.53875 11.5686 7.71688 11.3288 7.81517 11.0535L8.33581 9.45258C8.46335 9.07448 8.6749 8.73239 8.95548 8.45031C9.23606 8.16973 9.57815 7.95818 9.95325 7.83364L11.5827 7.304C11.856 7.20598 12.0915 7.02457 12.256 6.78541C12.4206 6.54624 12.5058 6.26141 12.4997 5.97117C12.4936 5.68093 12.3964 5.39995 12.2219 5.16795C12.0473 4.93596 11.8043 4.76466 11.5272 4.67829L9.92324 4.15915C9.54579 4.03446 9.2027 3.82328 8.92135 3.54246C8.64 3.26163 8.42819 2.91893 8.3028 2.54171L7.77316 0.915268C7.67761 0.646315 7.50078 0.413735 7.26716 0.24975C7.03355 0.0857645 6.75472 -0.00150914 6.46931 1.97496e-05C6.17996 -0.00121159 5.89754 0.0885139 5.66196 0.256517C5.42637 0.424521 5.24954 0.662307 5.15645 0.936274L4.62231 2.57172C4.49687 2.93776 4.29028 3.27069 4.01797 3.54559C3.74567 3.82049 3.41471 4.03024 3.04988 4.15915L1.42344 4.68579C1.15173 4.78181 0.916737 4.9602 0.751217 5.19611C0.585696 5.43201 0.497892 5.71367 0.500038 6.00185C0.502185 6.29002 0.594177 6.57034 0.763193 6.80375C0.93221 7.03717 1.16983 7.21204 1.44294 7.304L3.04388 7.82464C3.42174 7.95113 3.76499 8.16379 4.04649 8.44582C4.328 8.72784 4.54003 9.07148 4.66582 9.44958L5.19396 11.07C5.28849 11.3401 5.46553 11.5757 5.6996 11.7422L5.6981 11.7437ZM3.5105 6.39175L2.22766 5.99414L3.52401 5.57253C4.11557 5.36757 4.65205 5.02925 5.09193 4.58376C5.53005 4.13364 5.86014 3.59349 6.05819 2.99933L6.4558 1.71048L6.87592 3.00383C7.07552 3.60385 7.41251 4.14895 7.86003 4.5957C8.30756 5.04244 8.85325 5.37848 9.45361 5.57703L10.774 5.98064L9.48362 6.40075C8.88243 6.59912 8.3361 6.93563 7.88845 7.38328C7.4408 7.83093 7.10429 8.37726 6.90592 8.97845L6.50832 10.2643L6.0897 8.97545C5.89179 8.37327 5.55532 7.82593 5.10736 7.37745C4.65941 6.92897 4.11246 6.59037 3.5105 6.39175Z" fill="currentColor"/>
                        </svg>
                        <c-tag-label ml="2">New</c-tag-label>
                      </c-tag>
                    </c-box>
                    <c-box fontSize="lg" fontWeight="700" >
                      <c-text class="line-clamp-1" overflow="hidden">
                        {{ post.title }}
                      </c-text>
                    </c-box>
                  </c-box>
                  <c-text class="line-clamp-2" fontSize="sm" color="gray.600" overflow="hidden">
                    {{ post.description }}
                  </c-text>
                </c-box>
              </c-box>
            </c-stack>
          </div>
        </c-box>
      </c-box>
    </c-box>
  </c-box>
</template>

<script>
import {
  CBox,
  CFlex,
  CBreadcrumb,
  CBreadcrumbItem,
  CBreadcrumbLink,
  CBreadcrumbSeparator,
  CText,
  CStack,
  CTag,
  CTagLabel,
  CTagIcon,
  CButton,
  CSpinner,
  // CImage,
  // CHeading,
} from "@chakra-ui/vue";
import Api from '@/utils/api';
export default {
  components: {
    CBox,
    CFlex,
    CBreadcrumb,
    CBreadcrumbItem,
    CBreadcrumbLink,
    CBreadcrumbSeparator,
    CText,
    CStack,
    CTag,
    CTagLabel,
    CTagIcon,
    CButton,
    CSpinner,
    // CImage,
    // CHeading,
  },
  data() {
    return {
      loading: false,
      posts: [],
    }
  },
  mounted() {
    this.fetchPosts();
  },
  methods: {
    async fetchPosts() {
      this.loading = true;
      Api.getPosts()
      .then(res => {
        this.posts = res.data.data;
      })
      .catch(err => {
        console.log(err)
      })
      .finally(() => {
        this.loading = false;
      });
    },
    isHasHttps(file) {
      if (file.indexOf("http://") == 0 || file.indexOf("https://") == 0) {
        return true;
      }
      return false;
    }
  },
};
</script>

<style scoped>
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
  text-overflow: -o-ellipsis-lastline;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
  text-overflow: -o-ellipsis-lastline;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
  text-overflow: -o-ellipsis-lastline;
}

.card-image {
  width: 100%;
  height: 96px;
  border-radius: 8px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .card-image {
    width: 96px;
  } 
}
</style>
