<template>
  <c-box
    :maxWidth="['1100px']"
    py="3"
    mx="auto"
    minHeight="87vh"
    d="flex"
    flexDirection="column"
    width="100%"
    textAlign="left"
  >
    <c-box py="2" :px="['2', '2', '0']" height="100%">
      <c-box mb="3" d="flex">
        <c-breadcrumb :add-separator="false" separator="›">
          <c-breadcrumb-item>
            <c-breadcrumb-link as="router-link" to="/" color="green" fontSize="sm"
              >Beranda</c-breadcrumb-link
            >
            <c-breadcrumb-separator color="green" font-size="20px" />
          </c-breadcrumb-item>

          <c-breadcrumb-item>
            <c-breadcrumb-link as="router-link" to="/" color="green" fontSize="sm"
              >Diet and Coaching Challenge</c-breadcrumb-link
            >
            <c-breadcrumb-separator color="green" font-size="20px" />
          </c-breadcrumb-item>

          <c-breadcrumb-item>
            <c-breadcrumb-link fontSize="sm"
              >{{ post?.title }}</c-breadcrumb-link
            >
          </c-breadcrumb-item>
        </c-breadcrumb>
      </c-box>
      <hr />
      <c-box
        :max-width="['600px']"
        mx="auto"
        px="2"
        my="3"
        d="flex"
        flexDirection="column"
      >
        <c-flex justify="space-between" mb="5">
          <c-button @click="$router.go(-1)" size="sm" color="vue.500" left-icon="chevron-left" >
            Kembali
          </c-button>

          <c-flex>
            <c-button size="sm" color="yellow.500" mr="2" as="router-link" :to="`/post/${id}/update`">
              Ubah
            </c-button>
            <c-button size="sm" color="red.500" @click="openDialog">
              Hapus
            </c-button>
          </c-flex>
        </c-flex>
        <img v-if="post?.image" :src="isHasHttps(post?.image) ? post?.image : `http://localhost:3000/${post.image}` " class="post-image" alt="">
        <c-heading align="center">
          {{ post?.title }}
        </c-heading>
        <c-text color="vue.500" align="center" mb="5" fontWeight="500">
          {{ post?.category }}
        </c-text>
        <c-text align="justify">
          {{ post?.description }}
        </c-text>
        <c-button width="250px" rounded="full" mt="10" mx="auto" variant-color="vue" fontWeight="400" fontSize="sm" :is-loading="loadingRead" loading-text="Submitting" d="flex" alignItems="center" :disabled="post?.status" @click="readPost">
          <c-icon name="check" mr="2" />
          {{ post?.status ? 'Sudah Dibaca' : 'Tandai Sudah Dibaca' }}
        </c-button>
      </c-box>
    </c-box>

    <c-alert-dialog
      :is-open="isOpenDelete"
      :least-destructive-ref="$refs.cancelRef"
      :on-close="closeDialog"
    >
      <c-alert-dialog-overlay />
      <c-alert-dialog-content>
        <c-alert-dialog-header font-size="lg" font-weight="bold">
          Hapus Post Ini
        </c-alert-dialog-header>
        <c-alert-dialog-body>
          Apa anda yakin? Anda tidak dapat membatalkan tindakan ini setelahnya
        </c-alert-dialog-body>
        <c-alert-dialog-footer>
          <c-button ref="cancelRef" @click="closeDialog">
            Cancel
          </c-button>
          <c-button variantColor="red" @click="onDelete" ml="3" :is-loading="loadingDelete" loading-text="Deleteing">
            Delete
          </c-button>
        </c-alert-dialog-footer>
      </c-alert-dialog-content>
    </c-alert-dialog>
  </c-box>
</template>

<script>
import {
  CBox,
  CFlex,
  CBreadcrumb,
  CBreadcrumbItem,
  CBreadcrumbLink,
  CBreadcrumbSeparator,
  CText,
  CButton,
  CIcon,
  CHeading,
  CAlertDialog,
  CAlertDialogHeader,
  CAlertDialogBody,
  CAlertDialogFooter,
  CAlertDialogOverlay,
  CAlertDialogContent,
} from "@chakra-ui/vue";
import Api from '@/utils/api';
export default {
  components: {
    CBox,
    CFlex,
    CBreadcrumb,
    CBreadcrumbItem,
    CBreadcrumbLink,
    CBreadcrumbSeparator,
    CText,
    CButton,
    CIcon,
    CHeading,
    CAlertDialog,
    CAlertDialogHeader,
    CAlertDialogBody,
    CAlertDialogFooter,
    CAlertDialogOverlay,
    CAlertDialogContent,
  },
  data() {
    return {
      id: this.$route.params.id,
      post: {},
      isOpenDelete:false,
      loadingDelete: false,
      loadingRead: false,
    }
  },
  created() {
    this.getPost();
  },
  methods: {
    getPost() {
      Api.getPostDetail(this.id)
      .then(res => {
        this.post = res.data.data;
      })
      .catch(err => {
        this.$router.push('/');
        this.$toast({
          title: err.response?.data?.message,
          description: "Postingan tidak ditemukan",
          status: 'error',
          duration: 2000
        })
      })
      .finally(() => {

      });
    },
    readPost() {
      this.loadingRead = true;
      Api.readPost(this.id)
      .then(res => {
        console.log(res);
        this.post.status = 1;
        this.$toast({
          title: 'Berhasil.',
          description: "Postingan berhasil dibaca.",
          status: 'success',
          duration: 2000
        })
      })
      .catch(err => {
        console.log(err?.response?.data);
      })
      .finally(() => {
        this.loadingRead = false;
      });  
    },
    closeDialog() {
      if (!this.loadingDelete) {
        this.isOpenDelete = false
      }
    },
    openDialog() {
      this.isOpenDelete = true
    },
    async onDelete() {
      this.loadingDelete = true
      await Api.deletePost(this.id)
      .then(res => {
        console.log(res);
        this.$router.push('/');
        this.$toast({
          title: 'Berhasil.',
          description: "Postingan berhasil dihapus.",
          status: 'success',
          duration: 2000
        })
      })
      .catch(err => {
        console.log(err);
      });
      this.loadingDelete = false
    },
    isHasHttps(file) {
      if (file.indexOf("http://") == 0 || file.indexOf("https://") == 0) {
        return true;
      }
      return false;
    }
  }
}
</script>

<style scoped>
.post-image {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  margin-bottom: 8px;
}
</style>