<template>
  <c-box
    :maxWidth="['1100px']"
    py="3"
    mx="auto"
    minHeight="87vh"
    d="flex"
    flexDirection="column"
    width="100%"
    textAlign="left"
  >
    <c-box py="2" :px="['2', '2', '0']" height="100%">
      <c-box mb="3" d="flex">
        <c-breadcrumb :add-separator="false" separator="›">
          <c-breadcrumb-item>
            <c-breadcrumb-link as="router-link" to="/" color="green" fontSize="sm"
              >Beranda</c-breadcrumb-link
            >
            <c-breadcrumb-separator color="green" font-size="20px" />
          </c-breadcrumb-item>

          <c-breadcrumb-item>
            <c-breadcrumb-link as="router-link" to="/" color="green" fontSize="sm"
              >Diet and Coaching Challenge</c-breadcrumb-link
            >
            <c-breadcrumb-separator color="green" font-size="20px" />
          </c-breadcrumb-item>

          <c-breadcrumb-item>
            <c-breadcrumb-link fontSize="sm"
              >Ubah Postingan</c-breadcrumb-link
            >
          </c-breadcrumb-item>
        </c-breadcrumb>
      </c-box>
      <hr />
      <c-box
        :max-width="['600px']"
        mx="auto"
        px="2"
        my="3"
        d="flex"
        flexDirection="column"
      >
        <c-flex mb="5">
          <c-button @click="$router.go(-1)" size="sm" color="vue.500" left-icon="chevron-left" >
            Kembali
          </c-button>
        </c-flex>
        <c-heading mb="2">
          Ubah Postingan
        </c-heading>
        <c-form-control is-required :isInvalid="errors.title" :isDisabled="loadingForm" mb="3">
          <c-form-label for="title">Judul</c-form-label>
          <c-input type="title" id="title" aria-describedby="title-helper-text" placeholder="Masukkan judul" v-model="form.title" v-on:change="onChangeForm('title')" />
          <c-form-error-message>Judul tidak boleh kosong</c-form-error-message>
        </c-form-control>
        <c-form-control is-required :isInvalid="errors.description" :isDisabled="loadingForm" mb="3">
          <c-form-label for="description">Deskripsi</c-form-label>
          <c-textarea placeholder="Masukkan isi postingan" :value="form.description" v-on:change="onChangeForm('description')" />
          <c-form-error-message>Deskripsi tidak boleh kosong</c-form-error-message>
        </c-form-control>
        <c-form-control is-required :isInvalid="errors.category" :isDisabled="loadingForm" mb="3">
          <c-form-label for="category">Kategori</c-form-label>
          <c-input type="category" id="category" aria-describedby="category-helper-text" placeholder="Masukkan kategori" v-model="form.category" v-on:change="onChangeForm('category')" />
          <c-form-error-message>Judul tidak boleh kosong</c-form-error-message>
        </c-form-control>
        <c-form-control :isDisabled="loadingForm" mb="3">
          <c-form-label for="category">File Gambar</c-form-label>
          <img v-if="preview" :src="preview" alt="" style="width: 100%; margin-bottom: 8px;">
          <!-- <c-input type="category" id="category" aria-describedby="category-helper-text" placeholder="Masukkan link gambar" v-model="form.image" /> -->
          <input type="file" @change="onUploadFile">
          <c-form-helper-text id="description-helper-text">
            <!-- Diawali dengan https:// atau http:// -->
          </c-form-helper-text>
        </c-form-control>
        <c-button mt="3" variant-color="blue" variant="outline" @click="submitForm" :is-loading="loadingForm" loading-text="Submitting">
          Simpan
        </c-button>
      </c-box>
    </c-box>
  </c-box>
</template>

<script>
import {
  CBox,
  CFlex,
  CBreadcrumb,
  CBreadcrumbItem,
  CBreadcrumbLink,
  CBreadcrumbSeparator,
  CButton,
  CHeading,
  CFormControl,
  CInput,
  CFormLabel,
  CFormErrorMessage,
  CFormHelperText,
  CTextarea,
} from "@chakra-ui/vue";
import Api from '@/utils/api';
export default {
  components: {
    CBox,
    CFlex,
    CBreadcrumb,
    CBreadcrumbItem,
    CBreadcrumbLink,
    CBreadcrumbSeparator,
    CButton,
    CHeading,
    CFormControl,
    CInput,
    CFormLabel,
    CFormErrorMessage,
    CFormHelperText,
    CTextarea,
  },
  mounted() {
    this.getPost();
  },
  data() {
    return {
      preview: '',
      id: this.$route.params.id,
      form: {
        title: '',
        description: '',
        image: '',
        category: '',
        status: 0,
      },
      errors: {
        title: false,
        description: false,
        category: false,
      },
      loadingForm: false,
    }
  },
  methods: {
    getPost() {
      this.loadingForm = true;
      Api.getPostDetail(this.id)
      .then(res => {
        this.form.title = res.data.data?.title;
        this.form.description = res.data.data?.description;
        this.preview = res.data.data?.image ? (this.isHasHttps(res.data.data?.image) ? res.data.data?.image : `http://localhost:3000/${res.data.data?.image}` ) : '';
        this.form.category = res.data.data?.category;
        this.form.status = res.data.data?.status;
      })
      .catch(err => {
        this.$router.push('/');
        this.$toast({
          title: err.response?.data?.message,
          description: "Postingan tidak ditemukan",
          status: 'error',
          duration: 2000
        })
      })
      .finally(() => {
        this.loadingForm = false;
      });
    },
    onChangeForm(field) {
      this.errors[field] = false;
    },
    resetErrors() {
      this.errors.title = false;
      this.errors.description = false;
      this.errors.category = false;
    },
    async onUploadFile(e) {
      const file = e.target.files[0];
      this.preview = URL.createObjectURL(file);
      this.form.image = await this.convertToBase64(file);
    },
    submitForm() {
      if (!this.form.title || !this.form.description || !this.form.category) {
        if (!this.form.title) {
          this.errors.title = true;
        }
        if (!this.form.description) {
          this.errors.description = true;
        }
        if (!this.form.category) {
          this.errors.category = true;
        }
        return
      }

      let body = {
        title: this.form.title,
        description: this.form.description,
        category: this.form.category,
      }

      if (this.form.image) {
        body.image = this.form.image;
      }

      console.log(body);

      this.loadingForm = true;
      Api.updatePost(this.id, body)
      .then(res => {
        console.log(res);
        this.$router.push('/');
        this.$toast({
          title: 'Berhasil',
          description: "Post berhasil diubah.",
          status: 'success',
          duration: 3000
        })
      })
      .catch(err => {
        this.$toast({
          title: 'Gagal',
          description: err?.response?.data,
          status: 'error',
          duration: 3000
        })
      })
      .finally(() => {
        this.loadingForm = false;
      });
    },
    convertToBase64(file) {
      return new Promise((resolve, reject) => {
      const fileReader = new FileReader();
        fileReader.readAsDataURL(file);
        fileReader.onload = () => {
          resolve(fileReader.result);
        };
        fileReader.onerror = (error) => {
          reject(error);
        };
      });
    },
    isHasHttps(file) {
      if (file.indexOf("http://") == 0 || file.indexOf("https://") == 0) {
        return true;
      }
      return false;
    }
  }
}
</script>

<style>

</style>