<template>
  <div id="app">
    <c-box
      d="flex"
      flexDirection="column"
    >
      <c-box
        boxShadow="md"
        pos="sticky"
        top="0"
        left="0"
        right="0"
        background="white"
      >
        <c-box
          :maxWidth="['1100px']"
          mx="auto"
          height="60px"
          d="flex"
          p="3"
          alignItems="center"
          justify-content="space-between"
        >
          <c-flex>
            <!-- <c-image :src="require('@/assets/dietela.png')" /> -->
            <img src="@/assets/dietela.png" alt="">
          </c-flex>
          <c-box d="flex" alignItems="center">
            <c-grid
              :d="['none', 'grid']"
              h="60px"
              w="200px"
              template-columns="repeat(3, 1fr)"
              gap="2"
              alignItems="center"
            >
              <c-grid-item d="flex" flexDirection="column" alignItems="center">
                <svg width="32" height="32" style="width: 28px; height: 28px;" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M23.7079 27C26.262 27 28.3326 24.9295 28.3326 22.3753C28.3326 19.8211 26.262 17.7505 23.7079 17.7505C21.1537 17.7505 19.0831 19.8211 19.0831 22.3753C19.0831 24.9295 21.1537 27 23.7079 27Z" stroke="#008C81" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M8.29209 27C10.8463 27 12.9168 24.9295 12.9168 22.3753C12.9168 19.8211 10.8463 17.7505 8.29209 17.7505C5.73792 17.7505 3.66736 19.8211 3.66736 22.3753C3.66736 24.9295 5.73792 27 8.29209 27Z" fill="#008C81" stroke="#008C81" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M23.7079 11.5835C26.262 11.5835 28.3326 9.51289 28.3326 6.95872C28.3326 4.40455 26.262 2.33398 23.7079 2.33398C21.1537 2.33398 19.0831 4.40455 19.0831 6.95872C19.0831 9.51289 21.1537 11.5835 23.7079 11.5835Z" fill="#008C81" stroke="#008C81" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M8.29209 11.5835C10.8463 11.5835 12.9168 9.51289 12.9168 6.95872C12.9168 4.40455 10.8463 2.33398 8.29209 2.33398C5.73792 2.33398 3.66736 4.40455 3.66736 6.95872C3.66736 9.51289 5.73792 11.5835 8.29209 11.5835Z" fill="#008C81" stroke="#008C81" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <c-text fontSize="xs" color="#008C81">
                  Menu  
                </c-text>  
              </c-grid-item>
              <c-grid-item d="flex" flexDirection="column" alignItems="center">
                <svg width="32" height="32" style="width: 28px; height: 28px;" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.332 6.66667C13.332 5.95942 13.613 5.28115 14.1131 4.78105C14.6132 4.28095 15.2915 4 15.9987 4C16.7059 4 17.3842 4.28095 17.8843 4.78105C18.3844 5.28115 18.6654 5.95942 18.6654 6.66667C20.1966 7.3907 21.5019 8.51777 22.4414 9.92707C23.381 11.3364 23.9193 12.9748 23.9987 14.6667V18.6667C24.099 19.4956 24.3926 20.2894 24.8558 20.9842C25.319 21.6789 25.9388 22.2552 26.6654 22.6667H5.33203C6.05862 22.2552 6.67844 21.6789 7.14161 20.9842C7.60478 20.2894 7.89836 19.4956 7.9987 18.6667V14.6667C8.07811 12.9748 8.61643 11.3364 9.55596 9.92707C10.4955 8.51777 11.8008 7.3907 13.332 6.66667" fill="#555555"/>
                  <path d="M13.332 6.66667C13.332 5.95942 13.613 5.28115 14.1131 4.78105C14.6132 4.28095 15.2915 4 15.9987 4C16.7059 4 17.3842 4.28095 17.8843 4.78105C18.3844 5.28115 18.6654 5.95942 18.6654 6.66667C20.1966 7.3907 21.5019 8.51777 22.4414 9.92707C23.381 11.3364 23.9193 12.9748 23.9987 14.6667V18.6667C24.099 19.4956 24.3926 20.2894 24.8558 20.9842C25.319 21.6789 25.9388 22.2552 26.6654 22.6667H5.33203C6.05862 22.2552 6.67844 21.6789 7.14161 20.9842C7.60478 20.2894 7.89836 19.4956 7.9987 18.6667V14.6667C8.07811 12.9748 8.61643 11.3364 9.55596 9.92707C10.4955 8.51777 11.8008 7.3907 13.332 6.66667" stroke="#555555" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12 22.666V23.9993C12 25.0602 12.4214 26.0776 13.1716 26.8278C13.9217 27.5779 14.9391 27.9993 16 27.9993C17.0609 27.9993 18.0783 27.5779 18.8284 26.8278C19.5786 26.0776 20 25.0602 20 23.9993V22.666" stroke="#555555" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <c-text fontSize="xs">
                  Notifikasi
                </c-text>
              </c-grid-item>
              <c-grid-item d="flex" flexDirection="column" alignItems="center">
                <svg width="32" height="32" style="width: 28px; height: 28px;" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.9987 28C9.47146 28 10.6654 26.8061 10.6654 25.3334C10.6654 23.8606 9.47146 22.6667 7.9987 22.6667C6.52594 22.6667 5.33203 23.8606 5.33203 25.3334C5.33203 26.8061 6.52594 28 7.9987 28Z" stroke="#555555" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M22.6667 27.9993C24.1394 27.9993 25.3333 26.8054 25.3333 25.3327C25.3333 23.8599 24.1394 22.666 22.6667 22.666C21.1939 22.666 20 23.8599 20 25.3327C20 26.8054 21.1939 27.9993 22.6667 27.9993Z" stroke="#555555" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M22.6654 22.6667H7.9987V4H5.33203" stroke="#555555" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M8 6.66602L26.6667 7.99935L25.3333 17.3327H8" fill="#555555"/>
                  <path d="M8 6.66602L26.6667 7.99935L25.3333 17.3327H8" stroke="#555555" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <c-text fontSize="xs">
                  Keranjang
                </c-text>
              </c-grid-item>  
            </c-grid>
            <c-box mx="3" width="1px" height="40px" backgroundColor="#F2F2F2"></c-box>
            <c-flex alignItems="center">
              <c-text mr="2" fontSize="sm" fontWeight="400">Jennie Kim</c-text>
              <img src="https://picsum.photos/30/30" alt="" class="rounded">
            </c-flex>
          </c-box>
        </c-box>
      </c-box>
      <transition name="route" mode="out-in">
        <router-view></router-view>
      </transition>
    </c-box>
    <c-box
      background="#F2F2F2"
    >
      <c-box
        maxWidth="1000px"
        d="flex"
        flexDirection="row"
        justify-content="space-between"
        mx="auto"
        py="5"
      >
        <c-grid
          template-columns="repeat(3, 1fr)"
          width="100%"
          gap="3"
        >
          <c-grid-item
            textAlign="left"
            :colSpan="['3', '2']"
            px="3"
          >
            <img src="@/assets/dietela.png" style="height: 50px;" alt="">
            <c-text mt="2" fontSize="lg" fontWeight="600" mb="10">Dietela (PT. Gizi Sehat Indonesia)</c-text>
            <c-text fontSize="sm" color="#008C81" fontWeight="700" mb="3">KONTAK INFO</c-text>
            <c-flex mb="2">
              <svg style="margin-top: 5px;" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 10.5C10.2426 10.5 11.25 9.49264 11.25 8.25C11.25 7.00736 10.2426 6 9 6C7.75736 6 6.75 7.00736 6.75 8.25C6.75 9.49264 7.75736 10.5 9 10.5Z" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13.2428 12.4928L10.0605 15.675C9.77924 15.956 9.39794 16.1138 9.00038 16.1138C8.60282 16.1138 8.22151 15.956 7.94025 15.675L4.75725 12.4928C3.91817 11.6536 3.34675 10.5845 3.11527 9.42067C2.88378 8.25679 3.00262 7.05041 3.45676 5.95407C3.91089 4.85773 4.67993 3.92068 5.66661 3.2614C6.6533 2.60213 7.81333 2.25024 9 2.25024C10.1867 2.25024 11.3467 2.60213 12.3334 3.2614C13.3201 3.92068 14.0891 4.85773 14.5433 5.95407C14.9974 7.05041 15.1162 8.25679 14.8847 9.42067C14.6533 10.5845 14.0818 11.6536 13.2428 12.4928V12.4928Z" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <c-text ml="2" fontSize="md" color="#333333">
                Ruang Tenant, Gedung ILRC Lantai 2,<br>
                Kampus Universitas Indonesia, Depok, <br>
                Jawa Barat, Indonesia, 16424
              </c-text>
            </c-flex>
            <c-flex mb="2">
              <svg style="margin-top: 5px;" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.75 3H6.75L8.25 6.75L6.375 7.875C7.17822 9.50365 8.49635 10.8218 10.125 11.625L11.25 9.75L15 11.25V14.25C15 14.6478 14.842 15.0294 14.5607 15.3107C14.2794 15.592 13.8978 15.75 13.5 15.75C10.5744 15.5722 7.81512 14.3299 5.74262 12.2574C3.67013 10.1849 2.42779 7.42555 2.25 4.5C2.25 4.10218 2.40804 3.72064 2.68934 3.43934C2.97064 3.15804 3.35218 3 3.75 3" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <c-text ml="2" fontSize="md" color="#333333">
                +62 821 8025 9265
              </c-text>
            </c-flex>
            <c-flex mb="2">
              <svg style="margin-top: 5px;" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.25 3.75H3.75C2.92157 3.75 2.25 4.42157 2.25 5.25V12.75C2.25 13.5784 2.92157 14.25 3.75 14.25H14.25C15.0784 14.25 15.75 13.5784 15.75 12.75V5.25C15.75 4.42157 15.0784 3.75 14.25 3.75Z" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M2.25 5.25L9 9.75L15.75 5.25" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <c-text ml="2" fontSize="md" color="#333333">
                admin@dietela.id
              </c-text>
            </c-flex>
          </c-grid-item>
          <c-grid-item
            textAlign="left"
            :colSpan="['3', '1']"
            px="3"
          >
            <c-text fontSize="sm" color="#008C81" fontWeight="700" mb="3">SOSIAL MEDIA</c-text>
            <c-flex mb="5">
              <img src="@/assets/instagram.png" style="height: 32px; width: 32px; margin-right:16px;" alt="">
              <img src="@/assets/facebook.png" style="height: 32px; width: 32px; margin-right:16px;" alt="">
              <img src="@/assets/twitter.png" style="height: 32px; width: 32px;" alt="">
            </c-flex>
            <c-text fontSize="sm" color="#008C81" fontWeight="700" mb="3">LAINNYA</c-text>
            <c-text fontSize="md" color="#333333">
              Terms and Conditions
            </c-text>
            <c-text fontSize="md" color="#333333">
              Privacy Policy
            </c-text>
          </c-grid-item>
        </c-grid>
      </c-box>
      <c-text
        py="3"
        px="1"
        color="#008C81"
        fontWeight="500"
        borderTop="2px"
        borderColor="#C4C4C4"
        fontSize="sm"
      >
        Dietela (PT. Gizi Sehat Indonesia) © 2021 All right reserved
      </c-text>
    </c-box>
  </div>
</template>

<script>
import { 
  CBox,
  CFlex,
  CText,
  CGrid,
  CGridItem,
  // CImage,
} from '@chakra-ui/vue';
export default {
  name: "App",
  components: {
    CBox,
    CFlex,
    CText,
    CGrid,
    CGridItem,
    // CImage,
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.route-enter-from,
.route-leave-to {
  opacity: 0;
  transform: translateY(1rem);
}
.route-enter-active,
.route-leave-active {
  transition: all 0.5s ease;
}
.route-enter-to,
.route-leave-from {
  opacity: 1;
  transform: translateY(0);
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.35s ease;
}

.fade-enter-from,
.fade-leave-active {
  opacity: 0;
}

.rounded {
  border-radius: 100%;
}
</style>
